@import "global";

html,
body,
div#react-container,
div.app {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $font;
  text-align: center;
}

h1, label {
  margin: 0
}

div.app {
 background-image:url('http://localhost:3000/assets/img/background.jpg');
 background-size: cover;
 background-position: center;
}

// 404
.errorMessage {
  height: 100%;
  background-image:url('http://localhost:3000/assets/img/404.svg');
  background-size: cover;
  background-position: center;
}
